extends ./layout.jade

block content
    .blog
        header.intro-header(style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),  url('/static/img/gallery/burgerama-fidlar/IMG_6430.JPG')")
            .container
                .row
                    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                        .site-heading
                            h1 Clean Blog
                            hr.small
                            span.subheading A Clean Blog Theme by Start Bootstrap
        // Main Content
        .container
            .row
                .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                    each post,index in posts

                        .post-preview
                            a(href='/blog/#{post.title}')
                                h2.post-title
                                    | #{post.title}
                                h3.post-subtitle
                                    | #{post.description}
                            p.post-meta
                                | Posted by
                                a(href='#') Start Bootstrap
                                |  on September 24, 2014

                    hr
                    // Pager
                    ul.pager
                        li.next
                            a(href='#') Older Posts →
        hr
        // Footer
        footer
            .container
                .row
                    .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                        ul.list-inline.text-center
                            li
                                a(href='#')
                                    span.fa-stack.fa-lg
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-twitter.fa-stack-1x.fa-inverse
                            li
                                a(href='#')
                                    span.fa-stack.fa-lg
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-facebook.fa-stack-1x.fa-inverse
                            li
                                a(href='#')
                                    span.fa-stack.fa-lg
                                        i.fa.fa-circle.fa-stack-2x
                                        i.fa.fa-github.fa-stack-1x.fa-inverse
                        p.copyright.text-muted Copyright © Your Website 2014