extends ./layout.jade

block content
    .inner.cover
        h1.cover-heading Lust For Rock.
        p.lead
            | Cover is a one-page template for building simple and beautiful home pages. Download, edit the text, and add your own fullscreen background photo to make it your own.
        p.lead
            a.btn.btn-lg.btn-default(href='#') Learn more

    //
        .container
            hr.featurette-divider
            // First Featurette
            #about.featurette
                img.featurette-image.img-circle.img-responsive.pull-right(src='http://placehold.it/500x500')
                h2.featurette-heading
                    | This First Heading
                    span.text-muted Will Catch Your Eye
                p.lead
                    | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            hr.featurette-divider
            // Second Featurette
            #services.featurette
                img.featurette-image.img-circle.img-responsive.pull-left(src='http://placehold.it/500x500')
                h2.featurette-heading
                    | The Second Heading
                    span.text-muted Is Pretty Cool Too.
                p.lead
                    | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            hr.featurette-divider
            // Third Featurette
            #contact.featurette
                img.featurette-image.img-circle.img-responsive.pull-right(src='http://placehold.it/500x500')
                h2.featurette-heading
                    | The Third Heading
                    span.text-muted Will Seal the Deal.
                p.lead
                    | Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.
            hr.featurette-divider
            // Footer
            footer
                .row
                    .col-lg-12
                        p Copyright © Your Website 2014


    .mastfoot
        .inner
            p
                | Cover template for
                a(href='http://getbootstrap.com') Bootstrap
                | , by
                a(href='https://twitter.com/mdo') @mdo
                | .
