doctype html(lang='en')

include ./partials/_head.jade

body
    .site-wrapper
        .site-wrapper-inner
            .cover-container
                .masthead.clearfix
                    .inner
                        h3.masthead-brand Cover
                        include ./partials/_nav.jade
                block content

    //
        Bootstrap core JavaScript
        ==================================================
    // Placed at the end of the document so the pages load faster
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
    script.
        window.jQuery || document.write('<script src="/static/js/jquery/jquery.js"><\\/script>')
    script(src='/static/js/bootstrap.js')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    script(src='/static/js/ie10-viewport-bug-workaround.js')