extends ./layout.jade
block content
    .blog
        // Page Header
        // Set your background image for this header on the line below.
        | 
        - header_style = "background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('/static/img/" + post.image + "') "
        header.intro-header(style="#{header_style}")

          .container
            .row
              .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                .post-heading
                  h1 #{post.title}
                  h2.subheading #{post.description}
                  span.meta
                    | Posted by
                    a(href='#') Start Bootstrap
                    |  on August 24, 2014
        // Post Content
        article
          .container
            .row
              .col-lg-8.col-lg-offset-2.col-md-10.col-md-offset-1
                p
                  | #{post.content}
