h1, h3 {
  font-family: 'Rock Salt', cursive; }

.blog {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
  .blog h3 {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; }
