head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    // The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags
    meta(name='description', content='')
    meta(name='author', content='')
    link(rel='icon', href='../../favicon.ico')
    title Cover Template for Bootstrap!!!
    // Bootstrap core CSS
    link(href='/static/css/bootstrap.css', rel='stylesheet', type='text/css')
    // IE10 viewport hack for Surface/desktop Windows 8 bug
    link(href='/static/css/ie10-viewport-bug-workaround.css', rel='stylesheet')

    // Custom styles for this template
    link(href='https://fonts.googleapis.com/css?family=Rock+Salt', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')

    link(href='/static/css/cover.css', rel='stylesheet', type='text/css')
    link(href='/static/css/styles.css', rel='stylesheet', type='text/css')
