// Navigation
a#menu-toggle.btn.btn-dark.btn-lg.toggle(href='#')
    i.fa.fa-bars
nav#sidebar-wrapper
    ul.sidebar-nav
        a#menu-close.btn.btn-light.btn-lg.pull-right.toggle(href='#')
            i.fa.fa-times
        li.sidebar-brand
            a(href='#top', onclick='$("#menu-close").click();') Start Bootstrap
        li
            a(href='#top', onclick='$("#menu-close").click();') Home
        li
            a(href='#about', onclick='$("#menu-close").click();') About
        li
            a(href='#services', onclick='$("#menu-close").click();') Services
        li
            a(href='#portfolio', onclick='$("#menu-close").click();') Portfolio
        li
            a(href='#contact', onclick='$("#menu-close").click();') Contact
//
    #navbar.navbar-collapse.collapse
        ul.nav.navbar-nav
            li.active
                a(href='#') Home
            li
                a(href='#about') About
            li
                a(href='#contact') Contact
            li.dropdown
                a.dropdown-toggle(href='#', data-toggle='dropdown', role='button', aria-haspopup='true', aria-expanded='false')
                    | Dropdown
                    span.caret
                ul.dropdown-menu
                    li
                        a(href='#') Action
                    li
                        a(href='#') Another action
                    li
                        a(href='#') Something else here
                    li.divider(role='separator')
                    li.dropdown-header Nav header
                    li
                        a(href='#') Separated link
                    li
                        a(href='#') One more separated link
        ul.nav.navbar-nav.navbar-right